# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
world.tscn filter=lfs diff=lfs merge=lfs -text
shadeautosmooth.fbx filter=lfs diff=lfs merge=lfs -text
castle_ruins.tscn filter=lfs diff=lfs merge=lfs -text
